<ion-header style="background-color:#3DAAE0;">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color:#253E93"></ion-icon>
    </button>
    <ion-title style="font-family: 'Lato-Bold';">Welcome {{currentRider.Name}}!</ion-title>
  </ion-navbar>
<!--   <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon style="color:#253E93;" name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar> -->
</ion-header>
<!-- public ClassID: number;
  public ClassIDref: string;
  public ClassTitle: string;
  public ClassDescription: string;
  public ClassESTStart: number;
  public ClassIndex: number; 
  public ClassRiders: Rider[] =  [];
  //Division Info
  public DivisionIDref: string;
  public DivisionName: string;
  public DivisionRing: string;
  public DivisionStartTime: string;
  public DivisionStartDate: string;
  //Event Info
  public EventIDref: string;
  public EventDate: string;
  public EventLocation: string;
  public EventName: string; -->
<ion-content padding style="background-image: url('../../assets/imgs/HorseshoeBackground2.svg');">
    <ion-list>
    <ion-item class="item" *ngFor="let clazz of registeredClasses">
      <div class="inline">
      <ion-card (click)="viewClass(clazz)">
        <ion-card-content class="card">
        <ion-card-title class="title" style="font-size: 18px">
          {{clazz.ClassID}} {{clazz.ClassTitle}}
        </ion-card-title>
        <p class="text2">Location: &nbsp;</p>
        <p class="text">{{clazz.DivisionRing}}</p>
        <p class="text2">Date: &nbsp;</p>
        <p class="text">{{clazz.DivisionStartDate}} {{clazz.DivisionStartTime}}</p>
        <br>
        <p class="text2" style="margin-top:30px; font-size:18px">{{clazz.EventName}}</p>
      </ion-card-content>
      <img class="eventImage" src="../../assets/imgs/InGateB.png"/>
      </ion-card>
        
    </div>
      <div class="bottom-left"> </div>
      <div class="bottom-right"> </div>
    </ion-item>
  </ion-list>
<!-- <ion-list>


    <ion-card *ngFor="let item of registeredClasses">
          <ion-card-content>
          <ion-card-title>
            <h2>{{ item.IDref }}  {{ item.Title }}</h2>
          </ion-card-title>
          <p>{{ item.Location }}</p>
          <p>{{ item.Description }}</p>
        </ion-card-content>
    </ion-card>
  </ion-list> -->


<!--   <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadMenu())">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
<style>
.item{
  background-color:#000000;
  margin-bottom:10px;
  border-radius:15pt;
  border-bottom: none;
    box-shadow: none;
    border-top:none;
}
.card{
  margin-top:-10px;
  margin-left:-5px;
  background-color:#000000;
    box-shadow: none;
    width:100%;
    float:left;
}
.title{
  margin-bottom:10px;
  font-size:25px;
  color:#3DAAE0;
  font-family: 'Lato-Bold';
}
.text{
  color:white;
  margin-top:5px;
  font-size:14px;
}
.text2{
  color:#3DAAE0;
  font-size:16px;
  margin-top:15px;
}
.bottom-left{
  width:50%;
  margin-bottom:-10%;
  float:left;
  height:10px;
  background-color:#3DAAE0;
}
.eventImage{
height:135px;
width:135px;
float:right;
margin-left:50%;
margin-top:14%;
position:absolute;
}
.inline{
  display:inline-block;
  width:100%;
}
.bottom-right{
  width:50%;
  margin-bottom:-2%;
  float:right;
  height:10px;
  background-color:#253E93;
}

</style>